/* Include the styles from style.css */
@import url('style.css');


/* Body styles */
body {
    background-image: url('../img/jupiter.jpg');
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Fixed background */
    margin: 0; /* Reset default body margin */
    padding: 0; /* Reset default body padding */
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh; /* Ensure body stretches to at least the height of the viewport */
}

/* Header styles */
header {
    text-align: center;
    margin-top: 5%;
}

/*h1 {
    background: linear-gradient(to right, #e2bfff, #ffe6b0); /* Light gradient * /
    text-align: center;
    width: 15%;
    margin: 1% auto; /* Center the element horizontally and add margin * /
    padding: 1%;
    border-radius: 1em; /* Rounded corners * /
}*/

/*h2 {
    text-decoration: underline;
    text-align: center;
    width: 15%;
    margin: 1% auto; /* Center the element horizontally and add margin * /
    padding: 1%;
    margin-top: 5%;
}*/

/* Button styles */
button {
    background-color: #824caf;
    border: none;
    color: white;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: .5%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 1em; /* Rounded corners */
}

button:hover {
    background-color: #946fb3fa;
}

/* Planet section styles */
/*#composition, #itinerary, #planet-info, #sightseeing, #trip-cost {
    background-color: #e6e6fa; /* Light Purple * /
    padding: 2em;
    border-radius: 1em;
} */

/*#planet-info {
    width: 100%;
    text-align: center; /* Center the content *
    box-sizing: border-box;
} */

#sightseeing {
    text-align: center;
}

#composition {
    text-align: center;
}

#itinerary {
    text-align: center;
}

/* Paragraph styles */
/*p {
    word-wrap: break-word;
    width: 60%;
    text-align: center;
    margin: 0 auto; 
    margin-top: 1%;
    margin-bottom: 1%;
}*/

/* Table styles */
table {
    margin: 0 auto; 
}

/* Footer styles */
footer {
    background: linear-gradient(to right, #e2bfff, #ffe6b0); /* Light gradient */
    color: black;
    text-align: center;
    width: 100%;
    margin-top: auto; /* Push footer to the bottom */
}

/*section {
    background-color: #e6e6fa;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 3em;
}*/

/*#moons {
    width: 100%; /* Set the width to fill the container * /
    box-sizing: border-box; / * Include padding and border in the width *
}*/

#trip-cost {        
    width: 40%;
    margin-bottom: 20px;
    float: right;
}

#itinerary {
    width: 40%;
    margin-bottom: 20px;
    float: left;
}

.header h1 {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0; /* Remove default margin of h1 element */
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    color: #000000; /* Set text color as needed */
}

.jupyter-itinerary-table {
    width: 100%;
    border-collapse: collapse;
}

.jupyter-itinerary-table th, .jupyter-itinerary-table td {
    padding: 8px;
    border-bottom: 1px solid black;
}

.jupyter-itinerary-table th {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.jupyter-itinerary-table tbody tr:nth-child(odd) {
    background-color: #f5caaf;
}

.jupyter-itinerary-table tr:nth-child(even) {
    background-color: #fad7c1;
}

.jupyter-itinerary-table tr:hover {
    background-color: #f2f2f2;
}

#moons h3 {
    text-align: center; /* Center align the header */
    margin-bottom: 20px; /* Add margin below the header */
}

#moons p {
    text-align: justify; /* Align text in paragraphs */
}

.moon-images {
    text-align: center;
    margin-bottom: 20px;
}

.moon-images img {
    margin: 0 10px; /* Add spacing between images */
}

.moon-container {
    display: inline-block;
    width: 30%;
    padding: 15px;
    vertical-align: top; /* Align containers at the top */
    text-align: center;
}

.moon-container h3 {
    margin-bottom: 10px; /* Add spacing below header */
}

.moon-container p {
    text-align: justify; /* Align text in paragraphs */
}

