/* Color scheme variables */
:root {
    --color1: #FF0000;
    --color2: #00FF00;
    --color3: #0000FF;
}

/* Body styles */
body {
    background-image: url('../img/jupiter.jpg');
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Fixed background */
    margin: 0; /* Reset default body margin */
    padding: 0; /* Reset default body padding */
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh; /* Ensure body stretches to at least the height of the viewport */
}

/* Header styles */
header {
    text-align: center;
    margin-top: 5%;
}

h1 {
    background: linear-gradient(to right, #e2bfff, #ffe6b0); /* Light gradient */
    text-align: center;
    width: 15%;
    margin: 1% auto; /* Center the element horizontally and add margin */
    padding: 1%;
    border-radius: 1em; /* Rounded corners */
}

h2 {
    text-decoration: underline;
    text-align: center;
    width: 15%;
    margin: 1% auto; /* Center the element horizontally and add margin */
    padding: 1%;
    margin-top: 5%;
}

/* Button styles */
button {
    background-color: #824caf;
    border: none;
    color: white;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: .5%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 1em; /* Rounded corners */
}

button:hover {
    background-color: #946fb3fa;
}

/* Planet section styles */
#composition, #itinerary, #planet-info, #sightseeing, #trip-cost {
    background-color: #e6e6fa; /* Light Purple */
    padding: 2em;
    border-radius: 1em;
}

#planet-info {
    width: 100%;
    text-align: center; /* Center the content */
    box-sizing: border-box;
}

#sightseeing {
    text-align: center;
}



#itinerary {
    text-align: center;
}

/* Paragraph styles */
p {
    word-wrap: break-word;
    width: 60%;
    text-align: center;
    margin: 0 auto; 
    margin-top: 1%;
    margin-bottom: 1%;
}

/* Table styles */
table {
    margin: 0 auto; 
}

/* Footer styles */
footer {
    background: linear-gradient(to right, #e2bfff, #ffe6b0); /* Light gradient */
    color: black;
    text-align: center;
    width: 100%;
    margin-top: auto; /* Push footer to the bottom */
}

section {
    background-color: #e6e6fa;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 3em;
}



#trip-cost {        
    width: 40%;
    margin-bottom: 20px;
    float: right;
}

#itinerary {
    width: 48%;
    margin-bottom: 20px;
    float: left;
}

.header h1 {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0; /* Remove default margin of h1 element */
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    color: #000000; /* Set text color as needed */
}




