/* Include the styles from style.css */
@import url('style.css');

/* Override background image */
body {
    background-image: url('../img/saturnPlanet.jpeg');
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

/* Style for saturn sections */
#rings-info {
    background-color: #e6e6fa; /* Light Purple */
    padding: 2em;
    border-radius: 1em;
}

#moon-info {
    background-color: #e6e6fa; /* Light Purple */
    padding: 2em; /* Adjust padding as needed */
    border-radius: 1em;
}

#rings-info{
    text-align: center;
    overflow: hidden; /* Clear floats */
}

#rings-info img {
    float: right; /* Float the image to the right */
    margin-left: 20px; /* Add some space between the image and the text */
    width: 15%; 
}

#moon-info {
    width: 90%; /* Adjust the width as needed */
    margin: 0 auto 2em; /* Center the section horizontally and add margin at the bottom */
    box-sizing: border-box;
    overflow: hidden
}

.saturn-itinerary-table {
    width: 100%;
    border-collapse: collapse;
}

.saturn-itinerary-table th, .saturn-itinerary-table td {
    padding: 8px;
    border-bottom: 1px solid black;
}

.saturn-itinerary-table th {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.saturn-itinerary-table tbody tr:nth-child(odd) {
    background-color: #cbaff5;
}

.saturn-itinerary-table tr:nth-child(even) {
    background-color: #9d76d6;
}

.saturn-itinerary-table tr:hover {
    background-color: #f2f2f2;
}

#trip-cost {
    width: 40%;
    margin-bottom: 2em; /* Add margin at the bottom */
    float: right;
    text-align: left; /* Align text to the left */
    margin-right: 60px;
}

#itinerary {
    width: 40%;
    margin-bottom: 2em; /* Add margin at the bottom */
    float: left;
    margin-left: 60px;
}

#moon2, #moon1 {        
    width: 40%;
    margin-bottom: 20px;
    float: right;
}

#moon1 {
    float: left; /* moon to the left */
}

#moon2 {
    float: right; /* moon to the right */
}

#moon-info img {
    float: center; /* Float image to the right */
    margin-left: 20px; /* Add some space between the image and the text */
    width: 200px; 
    height: auto; /* Maintain  ratio */
}

footer {
    background: linear-gradient(to right, #e2bfff, #ffe6b0); /* Light gradient */
    color: black;
    text-align: center;
    width: 100%;
    margin-top: auto; /* Push footer to the bottom */
    border-radius: 0;
}

.header h1 {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0; 
    font-size: 24px; 
    font-weight: bold; 
    color: #000000; 
}
