/*add styling and stuff here so it is reflected across all pages*/

/* Color scheme variables */
:root {
    --color1: #FF0000;
    --color2: #00FF00;
    --color3: #0000FF;
}

body {
    background-color: #6767ff;
}


header {
    text-align: center;

    margin-top: 5%;
}

h1 {
    background: linear-gradient(to right, #e2bfff, #ffe6b0);
    /* Light gradient */
    text-align: center;
    width: 15%;
    margin: 1% auto;
    /* Center the element horizontally and add margin */
    padding: 1%;
    border-radius: 1em;
    /* Rounded corners */
}

h2 {
    
    text-decoration: underline;
    text-align: center;
    margin: auto;
    /* Center the element horizontally and add margin */
    padding: 1%;
}


/* buttons */
button {
    background-color: #824caf;
    border: none;
    color: white;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: .5%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 1em;
    /* Rounded corners */
}

button:hover {
    background-color: #946fb3fa;
}



section {
    margin: 0 auto 3em; /* Top and bottom margins are set to 0, left and right margins are set to auto */
    background-color: #e6e6fa; /* Light Purple */
    padding: 2em;
    border-radius: 3em;
    text-align: center;
    width: 85%;
}

#itinerary {

    margin-bottom: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid black;
}

th {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
}

tbody tr:nth-child(odd) {
    background-color: #f5caaf;
}

tr:nth-child(even) {
    background-color: #fad7c1;
}

tr:hover {
    background-color: #f2f2f2;
}

p {
    word-wrap: break-word;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 1%;
}


table {
    margin: 0 auto;
}

footer {
    background: linear-gradient(to right, #e2bfff, #ffe6b0);
    /* Light gradient */

    width: 85%;
    margin: 0 auto ;

    color: black;
    text-align: center;
    padding: 2em;
    border-radius: 3em;
    margin-top: auto;
    /* Push footer to the bottom */
    padding: 10px;
}