@import url('style.css');

header {
    text-align: center;
    margin-top: 5%;
}

button {
    background-color: #824caf;
    border: none;
    color: white;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: .5%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 1em; /* Rounded corners */
}

button:hover {
    background-color: #946fb3fa;
}

/* Table styles */
table {
    margin: 0 auto; 
}

/* Footer styles */
footer {
    background: linear-gradient(to right, #e2bfff, #ffe6b0); /* Light gradient */
    color: black;
    text-align: center;
    width: 100%;
    margin-top: auto; /* Push footer to the bottom */
}

.header h1 {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0; /* Remove default margin of h1 element */
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    color: #000000; /* Set text color as needed */
}

#itinerary {
    width: 48%;
    margin-bottom: 20px;
    float: left;

}

#trip-cost {
    width: 40%;
    margin-bottom: 20px;
    float: right;
}

.uranus-itinerary-table {
    width: 100%;
    border-collapse: collapse;
}

.uranus-itinerary-table th,
.uranus-itinerary-table td {
    padding: 8px;
    border-bottom: 1px solid black;
}

.uranus-itinerary-table th {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.uranus-itinerary-table tbody tr:nth-child(odd) {
    background-color: #f5caaf;
}

.uranus-itinerary-table tr:nth-child(even) {
    background-color: #fad7c1;
}

.uranus-itinerary-table td:hover {
    background-color: #f2f2f2;
}